<body>
    <div class="nav__body">
        <div class="nav__logo">
            <a href="https://nickname-is.github.io/newsite">SITE</a>
        </div>
        <a href="#" class="menu-btn-close"><i class="fa-solid fa-xmark"></i></a>
        <div class="nav__links">
            <a href="#" class="nav__link">Projects</a>
            <a href="#" class="nav__link">News</a>
            <a href="#" class="nav__link">Contacts</a>
            <a href="#" class="nav__link">About</a>
            <a href="#" class="nav__link menu-btn-open"><i class="fa-solid fa-bars"></i></a>
        </div>
    </div>
</body>
