<body>
    <div class="nav__body">
        <div class="nav__logo">
            <a href="/">
                <img src="/img/site-logo-white.png" alt="SITE">
            </a>
        </div>
        <a href="#" class="menu-btn-close"><i class="fa-solid fa-xmark"></i></a>
        <div class="nav__links">
            <div class="dropdown">
                <a href="javascript:void(0);" class="nav__link dropdown__btn" onclick="openDropdown()">Projects <i class="fa-solid fa-caret-down"></i></a>
                <div class="dropdown__content">
                    <a href="#" class="nav__link">Project 1</a>
                    <a href="#" class="nav__link">Project 2</a>
                    <a href="#" class="nav__link">Project 3</a>
                </div>
            </div>
            <a href="#" class="nav__link">News</a>
            <a href="#" class="nav__link">Contacts</a>
            <a href="#" class="nav__link">About</a>
            <a href="#" class="nav__link menu-btn-open"><i class="fa-solid fa-bars"></i></a>
            <a href="#" class="nav__link change-theme-btn" data-place="bottom-end" aria-label="Сменить тему"><i class="fa-solid fa-moon"></i></a>
        </div>
    </div>
</body>
